body {
    background-color: #0D0D11;
    font-family: Poppins;
    font-weight: 300;
    color: #81818B;
    margin: 0;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Poppins;
}

.content__header {
    font-size: 51px;
    font-weight: 500;
    color: white;
}
@media(max-width:965px) {
    .content__header {
        font-size: 45px;
    }
}
@media(max-width:567px){
    .content__header {
        font-size: 32px;
    }
}
.block__header {
    font-size: 11px;
    font-weight: 300;
    padding: 11px 20px;
    border: 1px solid #81818B33;
    border-radius: 12px;
    color: #9C9C9C;
    transition:  all 0.3s ease;
    &:hover {
        background-color: #443f3f;
    }
}

.content__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: #9C9C9C;
}
@media(max-width:767.98px) {
    .content__text {
        font-size: 16px;
    }
}


.wraper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

[class*=__container] {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}


.button {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 2px;
    text-align: center;
    align-items: center;
    background: #3D96F4;
    border-radius: 50px;
    padding: 16px 30px;
    transition: 0.5s ease;
    &:hover {
        background-color: #81b7f1;
    }
}
@media(max-width:991.98px) {
    .button {
        font-size: 14px;
        padding: 14px 20px;
    }

}
@media (max-width : 767.98px) {
    .button {
    letter-spacing: 1.4px;
    font-size: 13px;
    padding: 10px 10px; 
    }
}
.button__black {
    background-color: rgba(129, 129, 139, 0.2);
    &:hover {
        background-color: rgba(129, 129, 139, 0.5);
    }
}

.cart,
.cart__count
{
    font-size: 14px;
}



.page {
    flex: 1 1 auto;
}



// Header ========================================================================= 

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}
.header__container {
    max-width: 100%;
    display: flex;
    align-items: center;
    height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
    column-gap: 35px;   
    background-color: rgba(13, 13, 17, 0.9);
}
.logo {
    z-index: 5;
}
.nav {
    
    flex: 1 1 auto;
    &__meny {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        column-gap: 36px;
        margin: 0px;
        align-items: center;

   } 
   &__item {
    list-style: none;
        a {
            font-size: 18px;
            transition: 0.3s all ease;
        }
        a:hover {
            color: #3D96F4;
            } 
   }

}
@media(max-width:991.98px) {
    .header__container {
        column-gap: 27px;
    }

    .nav {
        &__meny {
            column-gap: 25px;
            padding-left: 0px;
       } 
       &__item {
        a {
            font-size: 14px;
        }
       }
    }
}



.header__cart {
    color: white;
    display: flex;
    gap: 5px;
    align-items: center;
    &:hover{
        color: #FF6D35;
    }
}
.cart {
    font-size: 18px;
}
.cart__count {
    background-color:#81818B4D;
    height: 30px;
    width: 30px;
    border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   font-weight: 500;

}
.nav-burger {
    display: none;
}
.header__cart,
.header__button,
.logo {
        position: relative;
        z-index: 2;
}

@media(max-width:991.98px) {
    .cart,
    .cart__count
        {
            font-size: 14px;
        }
        .header__container {
            height: 90px;
            column-gap: 20px;
        }
}






@media (max-width:767.98px) {
    .header__cart {
        z-index: 5;
    }
    .header__button {
        z-index: 5;
    }
    .header__logo {
        z-index: 5;
    }

    .header__container {
       
        min-height: 70px;
        column-gap: 15px;
        background-color: rgba(13, 13, 17, 0.5);
    }

    
    .nav__body {
        position: absolute;   
        z-index: 4; 
        width: 100%;
        height: 100%;
        background-color: rgba(13, 13, 17, 0.5);
        left: 0;
        top: -1000%;
        overflow: auto;
        transition: all 0.5s ease ;
        .nav__meny {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 6;
            border: none;
            padding: 100px 0px 30px 0px;
            border-top: 1px solid white;
            flex-direction: column;
            justify-content:center;
            row-gap: 10px;
            background-color: black;
           
            .nav__item {
                
                a {
                    font-size: 32px;
                }
            }
        }
    }  
    .nav__body::before {
        content: '';
        width: 100%;
        position: fixed;
        height: 100px;
        top: 0;
        left: 0;
        background-color: #0D0D11;
        z-index: 7;
    }
    

    .nav-burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        z-index: 5;
    }
    .burger-line,
    .nav-burger::after,
    .nav-burger::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #FFFFFF;  
    }
    .nav-burger::after,
    .nav-burger::before  {
        transition: all 0.3s ease;
    }
    .burger-line {
        top: calc(50% - 1px);
    }
    .nav-burger::after {
        bottom: 0;
    }
    .nav-burger::before {
        top: 0;
    }
    .menu-open {
        .nav__body {
            top: -250%;
        }
        .burger-line {
            width: 0px;
        }
        .nav-burger::after {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);;
        }
        .nav-burger::before {
            top: calc(50% - 1px);
            transform: rotate(-45deg);
        }
    }

}

@media (max-width:560px) {
    .header__container {
        width: 90%;
    }
    .header__logo {
        width: 32px;
        overflow: hidden;
        flex: 0 0 38px;
    }
    .cart {
        display: none;
    }
}


// Main content >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.page {
    z-index: 3;
    margin-top: 93px;
}
.main__container {
    position: relative;
    margin-top: 44px;
    display: flex;
    flex: 1 1 50%;
    column-gap: 32px;
}
.main__content {
    z-index: 2;
    position: relative;
    padding-top: 124px;
    width: 50%;
}
.main__bg__img {
    position: absolute;
    left: -31px;
}
.main__header {
    font-size: 51px;
    font-weight: 500;
    padding-bottom: 28px;
    max-width: 505px;
    margin: 0;
    color: white;
}
.main__text {
    padding-right: 133px;
    padding-bottom: 33px;
    margin: 0px;
    color: #9C9C9C;
}
.main__buttons {
    display: flex;
    column-gap: 32px;
    justify-content: flex-start;
}
.main__button {
}
.button__black {
}
.main_images {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 50%;
    column-gap: 60px; 
    width: 50%;
}
.images__column {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}
.main_img {

}


@media(max-width:1200px) {
    .main__text {
        padding-right: 93px;
    }
    .main_images {

        display: flex;
        flex-wrap: nowrap;
        column-gap: 40px; 
    }
    .images__column {
        display: flex;
        flex-wrap: wrap;
        row-gap: 32px;
    }
}
@media(max-width:965px) {
    .main__content {
        padding-top: 40px;
    }
    .main__header {
        padding-bottom: 28px;
        max-width: 505px;
    }
    .main__text {
        padding-right: 40px;
    }
    .main_images {
        position: absolute;
        right: 10%;
        display: flex;
        flex-wrap: nowrap;
        column-gap: 20px; 
    }
    .images__column {
        display: flex;
        flex-wrap: wrap;
        row-gap: 32px;
    }
    .main__buttons {
        column-gap: 16px;
    }

}

@media(max-width:767.97px) {
    .main__container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
        margin-top: 10px;

    }
    .main__content {
        position: relative;
        width: 100%;
    }
    .main_images {
        right: auto;
        position: relative;
        flex-wrap: nowrap;
        justify-content:flex-end;
        align-items: center;
        column-gap: 0px; 
    }
}
@media(max-width:567px){
    .main__header {
        max-width: 100%;
        font-size: 32px;
    }
    .main_images {
        display: flex;
        flex-wrap: nowrap;
        flex: 1 1 auto;
        column-gap: 20px; 

    }
    .images__column {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }
}
@media(max-width:533px) {
    .main_images {
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: center;
    }
    .images__column {
        flex-wrap: wrap;
        justify-content: center;
    }
    .reverse {
        flex-direction: column-reverse;
        justify-content: center;
    }
}




// Trust >>>>>>>>>>>>>>>>

.trusted__container {
    margin-top:192px ;
}
.trusted {
    &__header {
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 300;
        margin-bottom: 48px;
    }
    &__grup {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 15px;
    }
    &__logo {
        max-width: 100%;
    }
}

@media(max-width:767.98px) {
    .trusted__container {
        margin-top:80px ;
    }
}


// Services >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.services {
    &__content {
        padding-top: 223px;
    }
    &__header{
        margin: 0px;
        padding-top: 19px;
        padding-bottom: 12px;
    }
    &__text{
        margin: 0;
        margin-bottom: 39px;
        padding-right: 104px;
        max-width: 500px;
    }
    &____button {

    }
}
.services__container {
    margin-top: 163px;
    display: flex;
    flex: 1 1 50%;

}

.services__review {
    width: 50%;
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}
.services__column {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}
.services__column_pad {
    padding-top: 48px;
}
.services__item {
    width: 276px;
    min-height: 340px;
    height: auto; 
    padding: 20px;
    background-color: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
}
.services__icon {
    margin-top: 55px;
    padding: 12px;
    border-radius: 20px;
}
.blue_icon {
    background-color: rgba(0, 137, 255, 0.1);
}
.orange_icon {
    background-color: rgba(246, 303, 72, 0.1);
}
.yellow_icon {
    background-color: rgba(255, 111, 53, 0.1);
}
.grean_icon {
    background-color: rgba(92, 201, 123, 0.1);
}
.services__item__header {
    margin-top: 15px;
    margin-bottom: 10px;
}
.services__item__text {
    margin: 0px;
}
@media(max-width:1200px) {
    .services {
        &__content {
            padding-top: 103px;
            padding-left: 150px;
        }
        &__header{
        }
        &__text{
            margin: 0;
            margin-bottom: 39px;
            padding-right: 104px;
            max-width: 500px;
        }
        &____button {
    
        }
    }
    .services__container {
        margin-top: 163px;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 50%;
    
    }
    .services__review {
        margin-top: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 32px;
    }
    .services__column {
        display: block;
        flex-wrap: wrap;
        row-gap: 32px;
        width: 50%;
    }
    .services__item {
        width: 90%;
        min-height: 340px;
        height: auto; 
        padding: 20px;
        background-color: rgba(129, 129, 139, 0.1);
        border-radius: 30px;
        margin-bottom: 32px;
    }
    .services__column_pad {
        padding-top: 0px;
    }
}

@media(max-width:876px) {
    .services {
        &__content {
            padding-top: 0px;
            padding-left: 150px;
        }
    }
    .services__container {
        margin-top: 83px;
    }

}
@media(max-width:663px) {
    .services {
        &__content {
            padding-top: 0px;
            padding-left: 0px;
        }
        &__text {
            padding-right: 0px;
        }
    }
    .services__container {
        flex-wrap: wrap;
    }
    .services__review {
        width: 100%;
        flex-wrap: wrap;
        gap: 0px;
    }
    .services__column {
        flex-wrap: wrap;
        width: 100%;
        row-gap: 0px;
    }
    .services__item {
        width: 93%;
    }

}
@media(max-width:452px) {
    .services__container {
        margin-top: 40px;
    }
}




// Why us >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.why-us__container {

}

.why-us {
    position: relative;
    margin-top: 192px;
    column-count: 2;
    &__content {
        padding-left: 64px;
        padding-top: 91px;
    }
    &__images {
        background: url(../img/Why-us/bg.svg) left bottom no-repeat;
        position: relative;
        
    }
    &__img {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__img__main {
        z-index: 2;
    }
    &__header {

    }
    &__text {

    }
    &__list {
        list-style: none;
        margin-top: 35px;
        margin-bottom: 0px;
        padding-left: 0px;
    }
    &__item {
        display: flex;
        align-items: center;
        padding-bottom: 16px;
    }

}
.list__mark {
    border-radius: 50%;
    background-color: rgba(129, 129, 139, 0.1);
    padding: 10px 9px;
    margin-right: 10px;
}

@media(max-width:1200px) {
    .why-us {
        &__content {
            padding-left: 34px;
            padding-top: 20px;
        }
    }
}
@media(max-width:972px) {
    .why-us {
        &__content {
            padding-left: 20px;
            padding-top: 0px;
        }
    }
}
@media(max-width:885px) {
    .why-us {
        position: relative;
        margin-top: 192px;
        display: flex;
        flex-direction: column-reverse;
        column-count: 1;
        &__content {
            padding-bottom: 0px;
            padding-left: 0px;
        }
        &__images {
            padding-top: 45px;
            background: url(../img/Why-us/bg.svg) bottom center no-repeat;
            position: relative;
            text-align: center;
        }
        &__img {
            position: relative;
        }
    }
}
@media(max-width:767.97px) {
    .why-us {
        margin-top: 80px;
        &__content {
            padding-bottom: 0px;
            padding-left: 0px;
        }
        &__images {
            padding-top: 45px;
            background: url(../img/Why-us/bg.svg) bottom center no-repeat;
            position: relative;
            text-align: center;
        }
    }
}
@media(max-width:679px) {
    .why-us {
        &__img {
            margin: 0 auto;
        }
    }
}
@media(max-width:679px) {
    .why-us {
        &__img__main {
            height: 50vh;
            width: auto;
        }
    }
}



// Results >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


.results {
    &__content {
        padding-top: 192px;
        display: flex;
        justify-content: space-between;
    }
    &__info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;

    }
    &__item {
        width: 330px;
        border-radius: 30px;
        background-color: rgba(129, 129, 139, 0.1);
        padding-left: 40px;
        min-height: 278px;
    }
    &__header {
        padding-top: 44px;
        padding-bottom: 32px;
        margin: 0px;
    }
    &__text {
        margin: 0px;
        padding-bottom: 51px;
    }
}

@media(max-width:1326px) {
    
    .results {
        &__item {
            width: 80%;
            padding-right: 25px;
        }
        &__img {
            height: 50vh;
            width: auto;
            padding-top: 192px;
        }
    }
}
@media(max-width:976px) { 
    .results {
        &__content {
            padding-top: 92px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__info {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item {
            width: 30%;
        }
        &__img {
            padding-top: 42px;
        }
    }
}

@media(max-width:767.97px) {
    .results {
        &__content {
            padding-top: 92px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__info {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item {
            width: 95%;
        }
        &__img {
            padding-top: 42px;
        }
    }
}


// Testimonials >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.descriptions__content {
    position: relative;
    .descriptions__button {
        position: absolute;
        right: 0;
    }
}



.testimodias {
    margin-top: 192px;

}


.comments {

    &-slider {
        margin-top: 104px;
        display: flex;
        gap: 48px;
        .comment {
            min-height: 470px;
            position: relative;
            padding-top: 64px;
            padding: 64px 0px 0px 40px;
            border-radius: 30px;
            background-color: rgba(129, 129, 139, 0.1);
            width: 33.3%;
            &__head {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 16px;
                .commenter-description {
                    margin-bottom: 33px;
                    .name {
                        margin: 0px;
                        margin-bottom: 7px;
                        font-size: 16px;
                        font-weight: 300;
                        color: #fff;
                    }
                    .company {
                        margin: 0px;
                        font-size: 14px;
                        font-weight: 300;

                    }
                }
            }
             .commentar {
                margin-top: 33px;
                .comment-name {
                    padding-right: 10px;
                    max-width: 290px;
                    line-height: 140%;
                    font-size: 32px;
                    font-weight: 400;
                    color: #fff;
                    margin: 0px;
                    margin-bottom: 34px;
                }
                .comment-text {
                    padding-right: 5px;
                    font-size: 16px;
                    font-weight: 300;
                    max-width: 311px;
                    padding-right: 20px;
                }

            }
            .rating {
                margin-bottom: 85px;
                margin-top: 35px;
                display: flex;
                gap:6px;
                img {

                }
            }
        }

    }
    
}
.comment-arrows {
    .comment-next,.comment-prev {
        display: none;
    }
}


@media(max-width:1200px) {
    .comments {
        &-slider {
            margin-top: 104px;
            display: flex;
            gap: 28px;
            .comment {
                min-height: 470px;
                position: relative;
                padding-top: 64px;
                padding: 64px 0px 0px 40px;
                border-radius: 30px;
                background-color: rgba(129, 129, 139, 0.1);
                width: 33.3%;
            }
        }
    }
}
@media(max-width:987px) {
    .comments {
        width: 95%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        &-slider {
            position: relative;
            left: 0;
            width: 150%;
            margin-top: 104px;
            display: flex;
            gap: 28px;
            transition: 1s;
            .comment {
                min-height: 470px;
                position: relative;
                padding-top: 64px;
                padding: 64px 0px 0px 40px;
                border-radius: 30px;
                background-color: rgba(129, 129, 139, 0.1);
                width: 33.3%;
            }
        }     
    }   
    .comment-arrows {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .comment-next,.comment-prev {
            padding: 0px;
            display:block;
            position: relative;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border:none;
            background-color: #3D96F4;
            bottom: 5%;
            transition: all ease 0.5;
        }
        .comment-prev{
            left: 5%;
        }
         .comment-prev::after {
            content: "";
            height: 2px;
            width: 40%;
            background-color: #fff;
            position: absolute;
            transform: rotate(35deg);
            left: 30%;
            bottom: 36%;
         }
         .comment-prev::before  {
            content: "";
            height: 2px;
            width: 40%;
            background-color: #fff;
            position: absolute;
            transform: rotate(-35deg);
            left: 30%;
            top: 36%;
         }
         .comment-next{
            right: 5%;
            span {
                top: 50%;
                right: 50%;
                transform: translateX(50%) translateY(-50%);
            }
        }
        .comment-next::after {
            content: "";
            height: 2px;
            width: 40%;
            background-color: #fff;
            position: absolute;
            transform: rotate(35deg);
            right: 30%;
            top: 36%;
        }
        .comment-next::before {
            content: "";
            height: 2px;
            width: 40%;
            background-color: #fff;
            position: absolute;
            transform: rotate(-35deg);
            right: 30%;
            bottom: 36%;
        }
    }
}

@media(max-width:767.98px) {
    .testimodias {
        margin-top: 80px;
    
    }
    .comments {
        &-slider {
            width: 300%;
            gap: 5px;
            transition: 1s;
            .comment {
                min-height: 470px;
                padding-top: 64px;
                padding: 64px 0px 0px 40px;
                border-radius: 30px;
                background-color: rgba(129, 129, 139, 0.1);
                width: 100%;
                .commentar {
                    .comment-name {
                        max-width: 100%;
                    }
                    .comment-text {
                        max-width: 100%;
                    }
                }
            }
        }
        .comment-prev {
            left: 15%;
        }
        .comment-next {
            right: 15%;
        }

  
    }
}
@media(max-width:369px) {
    .comments {
        &-slider {
            .comment {
                padding: 34px 0px 0px 20px;
                &__head {
                    gap: 14px;
                    .commenter-description {
                        padding-top: 10px;
                    }
                }
                .commentar {
                    .comment-name {
                        max-width: 100%;
                        font-size: 28px;
                    }
                    .comment-text {
                        max-width: 100%;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
























// Blog>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


.blog {
    margin-top: 192px;

    &__content {

    }
    &__button {

    }
    &__items {
        position: relative;
        .blog-slider {
            position: relative;
            margin-top: 104px;
            display: flex;
            justify-content: space-between;
            gap: 48px;
        }
        .blog__item {
            width: 33.3%;
            max-width: 394px;
            position: relative;
            border-radius: 24px;
            background-color: rgba(129, 129, 139, 0.1);
            .blog__img {
                border-radius: 24px 24px 0px 0px;
                width: 100%;
            }
            .blog__description {
                padding: 26px 20px 40px 24px;

            }
            .blog__time {
                font-size: 16px;
                font-weight: 300;
            }
            .blog__header {
                margin: 20px 0px 30px 0px;
            }
            .blog__text {
                padding-bottom: 22px;
            }
            .blog__link {
                position: absolute;
                bottom: 5%;
                color: #3D96F4;
                transition: all ease 0.3s;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .blog-prev,.blog-next {
        display: none;
    }
}

@media(max-width:767.98px) {
    .blog {
        margin-top: 80px;
        .blog_arrows {
            width: 95%;
            margin: 0 auto;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .blog-prev,.blog-next {
                position: relative;
                display: block;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: none;
                background-color: rgba(129, 129, 139, 0.1);
            }
            .blog-prev::before {
                content: "";
                width: 40%;
                height: 2px;
                background-color: #fff;
                position: absolute;
                left: 20%;
                top: 35%;
                transform: rotate(-40deg);
            }
            .blog-prev::after {
                content: "";
                width: 40%;
                height: 2px;
                background-color: #fff;
                position: absolute;
                left: 20%;
                bottom: 35%;
                transform: rotate(40deg);
            }
            .blog-next::before {
                content: "";
                width: 40%;
                height: 2px;
                background-color: #fff;
                position: absolute;
                right: 20%;
                top: 35%;
                transform: rotate(40deg);
            }
            .blog-next::after {
                content: "";
                width: 40%;
                height: 2px;
                background-color: #fff;
                position: absolute;
                right: 20%;
                bottom: 35%;
                transform: rotate(-40deg);
            }
        }
    }
    .blog__items {
         position: relative;
         width: 95%;
         margin: 0 auto;
         overflow: hidden;

        .blog-slider {
            width: 150%;
            position: relative;
            left: 0;
            margin-top: 104px;
            display: flex;
            justify-content: space-between;
            gap: 48px;
            transition: all ease 1s;
        }
        .blog__item {
            width: 33.3%;
            max-width: 394px;
            position: relative;
            border-radius: 24px;
            background-color: rgba(129, 129, 139, 0.1);
            }
    
        }    
}

@media(max-width:575.98px) {
    .blog__items {
        .blog-slider {
            width: 300%;
            gap: 10px;
       }
       .blog__item {
           width: 100%;
           max-width: 100%;
           position: relative;
           border-radius: 24px;
           background-color: rgba(129, 129, 139, 0.1);
           }
   
       }   
}

// Ready >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.ready {
    margin-top: 192px;
    display: flex;
    justify-content: space-around;
    gap: 0px;
    border-radius: 30px;
    background-color:rgba(129, 129, 139, 0.1);
    .ready__content {
        padding: 50px 0px 51px 0px;
        text-align: center;
        max-width: 358px;
        .ready__header {
            padding-left :10px;
            font-size: 32px;
            font-weight: 400;
            line-height: 1,4;
            margin: 0px;
            margin-bottom: 16px;
        }
        .ready__text {
            font-size: 16px;
            line-height: 1.5;
        }
    }
    
    .ready__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        .button {
        }
        .button__black {
        }
    }

}
    
    @media(max-width:767.97px) {
            .ready {
                margin-top: 60px;
                padding-bottom: 50px;
                flex-wrap: wrap;
                justify-content: center;
                border-radius: 0px;

                .ready__content  {
                    width: 100%;
                    .ready__header {
                        padding-left: 0px;
                    }

                }
                .ready_-buttons {
                    width: 100%;
                } 
            }
        }
    

    
// Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>





.footer {
    display: flex;
    column-count: 3;
    justify-content: space-between;
    gap: 64px;
    margin-top: 214px;
    margin-bottom: 160px;

        &__description {
            max-width: 378px;
        }

		&__logo {
            margin-bottom: 32px;
		}

		&__text {
            font-size: 16px;
            font-weight: 300;
		}

		&__nav {
            display: flex;
            column-count: 2;
            column-gap: 64px;
		}

        &__header {
            padding-bottom: 6px;
            margin: 0px;
            color: #fff;
            letter-spacing: 1px;
		}

        &__nav-meny ,&__utility-meny  {
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            padding-left: 0px;

            &-nav_link  {
            
            }
		}

		&__utility-meny {
            &-nav_link a:hover {
                
            }
		}

        &-nav_link {
            list-style: none;
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
            color: #9C9C9C;

        }
        &-nav_link a {
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
            color: #9C9C9C;
            transition: all ease 0.3s;
        }
        .footer-nav_link a:hover {
            color: #fff;

        }
        
}
@media(max-width:1193.97px) {
    .footer {
        display: flex;
        column-count: 2;
        flex-wrap: wrap;
        justify-content: center;
        gap: 54px;
        &__description {
            width: 100%;
            max-width: 100%;
        }
    }
}
@media(max-width:337.97px) {
    .footer {
        display: flex;
        column-count: 2;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        &__description {
            width: 95%;
            max-width: 100%;
        }
        &__nav {

            column-gap: 24px;
		}
    }
}
@media(max-width:776.97px) {
    .footer{
         margin-top: 40px;
         margin-bottom: 20px;
    }
    .subscribe{
        .input__line {
            height: 38px;

		}  
    }
}

.content {

		&__text {
		}
}
.social {
    margin-top: 33px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
		&__logo {
            padding: 10px 15px;
            border: 1px solid rgba(129, 129, 139, 0.9);
            border-radius: 36px;
            height: 16px;
            width: 16px;
            z-index: 3;
            transition: all ease 0.5s;
		}  
}


.social__link   {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
        .hero {
            content: "";
            position: absolute;
            border-radius: 36px;
            width: 0%;
            height: 0%;
            
            transition: all ease 0.5s;
    }
}
.social__link:hover > .hero {
    width: 100%;
    height: 100%;
}
.social__link:hover > .social__logo {
    border-color: #0D0D11;
    filter: #fff;
    padding: 10px 20px; ;
}
.in-hero {
    background-color: #2367af;
}
.twiter-hero {
    background-color: #5498e0;
}
.facebook-hero {
    background-color: blue;
}
.youtube-hero {
    background-color: red;
}
.instagram-hero {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}


@media(max-width:344px) {
    .social {
        gap: 14px;
            &__logo {
                padding: 7px 12px;
                border: 1px solid rgba(129, 129, 139, 0.9);
                border-radius: 36px;
                height: 13px;
                width: 13px;
                z-index: 3;
                transition: all ease 0.5s;
            }  
    }
}
.utility-link {
}
.subscribe {
    margin-top: 0px;
    max-width: 376px;
		&__header {
            margin: 0px;
            margin-bottom: 30px;
            color: #fff;
            letter-spacing: 1px;
		}

		&__text {
            margin: 0px;
            margin-bottom: 33px;
		}
        &__form {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }
		.input__line {
            border: 1px solid rgba(129, 129, 139, 0.3);
            border-radius: 50px;
            background-color:  rgba(13, 13, 17, 1);
            height: 54px;
            padding-left: 33px;
            transition: all ease 0.3s;
            color: #fff;
            transition: all ease 0.5s;
		}
}
@media(max-width:776.97px) {
    .subscribe {
        max-width: 100%;
        width: 100%;
        &__form {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
        }
        .input__line {
            width: 100%;
            border: 1px solid rgba(129, 129, 139, 0.3);
            border-radius: 50px;
            background-color:  rgba(13, 13, 17, 1);
            height: 54px;
            padding-left: 33px;
            transition: all ease 0.3s;
            color: #fff;
            transition: all ease 0.5s;
		}
    }
    
}
@media(max-width:776.97px) {
    .subscribe{
        .input__line {
            height: 38px;

		}  
    }
}




.footer__year {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgba(129, 129, 139, 0.2);
    padding: 46px 0px;
    p {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.6; /* 22/14 */
    }
}

@media(max-width:767.97px) {
    .footer__year {
        padding: 0px 0px;
    }
}